body {
    background: wheat;
    font-family: "Arial, Helvetica", sans-serif;
}

h1 {
    color: rgb(0, 0, 0);
}

h2 {
    margin: 0 0 10px 0;
}

#koelkast {
    background-color: #FFFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

#boodschappen > button {
    padding: 10px 20px;
    
    font-size: 18px;
    border: solid black;
    border-width: 2px;
    background: forestgreen;
    color: white;
}

section {
    border: solid #000;
    border-width: 2px;
    padding: 20px;
    min-height: 200px;
}